.profile {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  height: auto;
  width: 50%;
  background-color: #222222;


  -webkit-box-shadow: 10px 0px 14px -1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 0px 14px -1px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 0px 14px -1px rgba(0, 0, 0, 0.26);

  z-index: 20;
   overflow: hidden;
}


// .profile::after{
//   content: '';
//   position: fixed;
//   top: -15px;
//   left: -15px;
//   right: 0;
//   background-color: #ffc810;
//   height: 90%;
//   width: 95%;
//   border-radius: 5px;
//   opacity: .3;
//   z-index: 1;

// }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;

  overflow: hidden;
  text-align: center;
  z-index: 15;

  img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    // transition: all 0.4s ease 0s;
    animation: img 15s ease infinite;
  }

  &::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -65px;
    right: -25px;
    width: auto;
    height: 100px;
    border-radius: 100% 100% 0 0;
    background-color: #222222;
  }
}

.img {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;

  &__wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 auto;
    background: white;

    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }
}

.bio {
  text-align: center;
  z-index: 15;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 15;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 50%;
    height: 100%;
    position: relative;


    a{
      flex: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 12px;
      height: 100%;
      width: 100%;
      

      span{
        margin-right: 10px;
        transition: all .5s ease;
      }

      svg{
        font-size: 16px;
      }

    }

    a:hover{
      color: #ffc810;
      span{
        margin-right: 15px;
      }
    }


  }

  div:nth-child(1):before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);

  }
}

.actions::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}

@keyframes img {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .profile {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
  }
}
