
.page::after {
  content: attr(data-label);
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 120px;
  font-weight: bold;
  color: var(--main-color);
  opacity: 0.01;
}

@media (max-width: 500px) {
  .page::after {
    opacity: 0;
  }
}

.page {
  padding: 0 40px;
  position: absolute;
  overflow: hidden;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 2%;
  background-color: #222;
  transform-origin: center left;
  opacity: 0;
  transform: translate(0, 800px);
  transition: visibility 1s linear, opacity 1s linear;
  display: block;
  width: 100%;
  height: 96%;
  max-height: 100%;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  animation: pageAnimateOut 1s ease;
}

.page.active {
  visibility: visible;
  transform: translate(0, 0px);
  opacity: 1;
  z-index: 10;
  animation: pageAnimateIn 1s ease;
}



@keyframes pageAnimateIn {
  0% {
    transform: translate(0, 800px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

@keyframes pageAnimateOut {
  0% {
    transform: translate(0, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(0, -800px);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .page {
    position: relative;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    border-radius: 5px;

    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: visible;

    animation: none;
  }

  .page:not(:last-child) {
    margin-bottom: 20px;
  }

  .page.active {
    visibility: visible;
    transform: translate(0, 0px);
    opacity: 1;
    z-index: 10;
    animation: none;
  }
}

@media (max-width: 650px) {
  .page {
    padding: 0 20px;
  }
}
