.page_title {
  display: block;
  position: relative;
  padding: 15px 0;
}

.page_title:first-letter {
  color: var(--main-color);
  opacity: 0.9;
}

.page_title:before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 20%;
  width: 30px;
  height: 30px;

  background: linear-gradient(
    135deg,
    rgba(246, 184, 70, 0.4) 0%,
    rgba(246, 184, 70, 0.01) 100%
  );
  z-index: -1;
  border-radius: 30px;
  opacity: 0.5;
}

.page_title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
