.wrapper {
  margin: 2vh 2vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 92vh;
  max-width: 1400px;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
  overflow: hidden;

  z-index: 1;

  background-color: var(--second-color);
  font-size: calc(14px + 2 * (100vw - 320px) / 880);
}

.portfolio_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  color: var(--second-color);
  background: linear-gradient(60deg, #f79533, rgb(255, 217, 0));
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;

  -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);

  h1 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0px;
  }

  a {
    background-color: var(--second-color);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    color: grey;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;

    &:hover {
      color: var(--main-color);
      box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  position: relative;

  img {
    position: relative;
    width: 100%;
    transition: opacity 0.3s ease;
    &:hover {
      cursor: zoom-in;

    }

  }
}

.photos img:after{
  content: '123 ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  opacity: 0.5;
  color: black;
  z-index: 100;
  font-size: 32px;
}


@media (max-width: 700px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .portfolio_header {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .portfolio_header {
    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }
}

.portfolio_main {
  padding: 20px;
  overflow-y: scroll;
  height: 96%;
  max-height: 100%;
  display: block;

  section {
    height: auto;
    display: block;
  }
}

.portfolio_main {
  table {
    th {
      text-align: left;
    }

    td,
    th {
      padding: 5px;
    }

    td {
      color: grey;
      padding-left: 5px;
    }
  }
}

.portfolio_main::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(252, 206, 0, 0.2);
}

.portfolio_main::-webkit-scrollbar-thumb {
  background-color: #ffc810;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.portfolio_main::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.portfolio_description {
  li {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    span {
      padding-left: 10px;
      color: grey;
    }
  }
}

.portfolio_steps {
  padding-left: 20px;

  li {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    span {
      padding-left: 10px;
      color: grey;
    }
  }
}

.portfolio_img {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 80%;
  height: 500px;
  overflow: hidden;

  img {
    margin: 0 auto;
    display: block;
  }
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  padding-top: 50%;
  border-radius: 5px;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}

.slider_container {
  position: relative;
  padding: 0 20px;

  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: auto;
}

.slider_items {
  flex: 800px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--main-color);
}

.slick-prev {
  left: -25px;
  z-index: 1;
}

.slick-next {
  right: -25px;
  z-index: 1;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin: 0;
    height: 100%;
  }
  .portfolio_header {
    padding: 20px;
    color: var(--second-color);
    background: linear-gradient(60deg, #f79533, rgb(255, 217, 0));
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.22);

    h1 {
      font-size: 36px;
    }
  }

  .portfolio_main {
    padding: 120px 15px 50px 15px;
    overflow: auto;
    height: 96%;
    max-height: 100%;
    display: block;

    section {
      height: auto;
      display: block;
    }
  }

  .slick-prev {
    left: 0 !important;
    z-index: 1;
  }

  .slick-next {
    right: 0 !important;
    z-index: 1;
  }

  .slider_container {
    padding: 0;
  }
}
