@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

li.active{
  color: red;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  background-size: 400%;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.85);
  min-width: 320px;
  user-select: none;
}

h2{
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px yellow solid;
  margin-bottom: 15px;
}

.container {
  margin: 8vh 6vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  border-radius: 5px;

  max-height: 674px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  z-index: 1;
}

.main {
  flex: auto;
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.layoat {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.page {
  padding: 10px 40px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0px;

  background-color: #222;
  transform-origin: center left;
  opacity: 0;

  transform: translate(0, 500px);

  transition: visibility 1s linear, opacity 1s linear;

  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;

  opacity: 0;
  visibility: hidden;
  z-index: 9;

  animation: pageAnimateOut 1s ease;


  
}

.page::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(252, 206, 0, 0.2);
}

.page::-webkit-scrollbar-thumb {
  background-color: #ffc810;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.page::-webkit-scrollbar-track {
  border-radius: 5px;
    background-color: transparent;
}





.page.active {
  visibility: visible;
  transform: translate(0, 0px);
  opacity: 1;
  z-index: 10;
  animation: pageAnimateIn 1s ease;
}

@keyframes pageAnimateIn {
  0% {
    transform: translate(0, 500px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

@keyframes pageAnimateOut {
  0% {
    transform: translate(0, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(0, -500px);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  #__next {
    height: 100vh;
    overflow: visible;
  }

  .main {
    flex-direction: column;
    height: auto;
    padding-left: 80px;
    padding-right: 15px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    max-height: 100%;
    flex-direction: column;
  }

  .page {
    position: relative;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    border-radius: 5px;

    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: visible;

    animation: none;
  }

  .page:not(:last-child) {
    margin-bottom: 20px;
  }

  .page.active {
    visibility: visible;
    transform: translate(0, 0px);
    opacity: 1;
    z-index: 10;
    animation: none;
  }
}


@media (max-width: 650px) {
  .container {
    margin-top: 0px;
  }

  .main {
    padding-top: 50px;
  }

  .main {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
