/*Надпись на фоне страницы*/
.page::after {
    content: attr(data-label);
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 120px;
    font-weight: bold;
    color: var(--main-color);
    opacity: 0.05;
  }



  @media (max-width: 500px) {
    .page::after {
        opacity: 0;
      }
  }
  

.page_title {
    position: relative;
    padding: 15px 0;
  }
  
  .page_title h2:first-letter {
    color: var(--main-color);
    opacity: .9;
  }
  
  .page_title h2:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 20%;
    width: 30px;
    height: 30px;
  
    background: linear-gradient(135deg, rgba(246, 184, 70, 0.4) 0%, rgba(246, 184, 70, 0.01) 100%);
    z-index: -1;
    border-radius: 30px;
    opacity: .5;
  
  }
  
  .page_title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.15) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }

  .page_item{
    margin-bottom: 30px;
  }
  
  .page {
    padding: 0 40px;
    position: absolute;
    overflow: hidden;
    top: 2%;
    left: 0;
    right: 0;
    bottom: 2%;
  
    background-color: #222;
    transform-origin: center left;
    opacity: 0;
  
    transform: translate(0, 500px);
  
    transition: visibility 1s linear, opacity 1s linear;
  
    display: block;
    width: 100%;
    height: 96%;
    max-height: 100%;
    overflow-y: scroll;
  
    opacity: 0;
    visibility: hidden;
    z-index: 9;
  
    animation: pageAnimateOut 1s ease;
  }
  
  .page::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(252, 206, 0, 0.2);
  }
  
  .page::-webkit-scrollbar-thumb {
    background-color: #ffc810;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  
  .page::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
  
  .page.active {
    visibility: visible;
    transform: translate(0, 0px);
    opacity: 1;
    z-index: 10;
    animation: pageAnimateIn 1s ease;
  }
  
  @keyframes pageAnimateIn {
    0% {
      transform: translate(0, 500px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }
  
  @keyframes pageAnimateOut {
    0% {
      transform: translate(0, 0px);
      opacity: 1;
    }
  
    100% {
      transform: translate(0, -500px);
      opacity: 0;
    }
  }


  @media (max-width: 1200px) {
    .page {
      position: relative;
      opacity: 1;
      transform: translate(0, 0);
      visibility: visible;
      border-radius: 5px;
  
      display: block;
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow: visible;
  
      animation: none;
    }
  
    .page:not(:last-child) {
      margin-bottom: 20px;
    }
  
    .page.active {
      visibility: visible;
      transform: translate(0, 0px);
      opacity: 1;
      z-index: 10;
      animation: none;
    }
  }