.about {
  //position: relative;
}

.about::after {
  content: 'About';
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 120px;
  font-weight: bold;
  color: black;
  opacity: 0.05;
}

.stack_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style: none;

  li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;


    --borderWidth: 2px;
    background: #1d1f20;
    border-radius: var(--borderWidth);

    &:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(
        60deg,
        #f79533,
        yellow,
      );
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 5s ease alternate infinite;
      background-size: 300% 300%;
    }

    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    svg{
        font-size: 32px;
        margin-bottom: 10px;
    }

    h4{
        margin-bottom: 10px;
    }


    span{
        color: grey;
        font-size: 14px;
    }
  }

}

.show{
    transform: translateY(0);
    animation: show 2s ease-in-out;
  }

  @keyframes show {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}
