.header{
flex: 1;
position: absolute;
top: 0;
right: 100%;
margin-right: 10px;
width: auto;
z-index: 100;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    list-style: none;
    border-radius: 5px;

    li{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        a{
            display: flex;
            justify-content: center;
            align-items: center; 
            flex-direction: column;
            padding: 10px;
            color: white;
        }

        span{
            font-family: 'Anonymous Pro', monospace;
            font-size: 10px;
        }

        svg{
            width: 30px;
            margin-bottom: 3px;
        }
    }

    li:hover{
        a{
            color: rgb(255, 208, 0);
        }
    }

    li:not(:last-child){
        border-bottom: 1px solid grey;
        border-right: none;
    }

    a{
        text-decoration: none;
    }
}

@media (max-width: 1200px) {
    .header{
        position: relative;
        top: 40%;
        left: 0;
        margin-right: 10px;
        width: auto;
        z-index: 100;
        margin-bottom: 20px;
        }

        .menu{
            display: flex;
            flex-direction: row;
            background-color: grey;
            list-style: none;
        
            li{
                padding: 5px 10px;
            }

        
            li:not(:last-child){
                border-bottom: none;
                border-right: 1px solid white;
            }
        
        }
}