@import './_border.scss';
@import '@/styles/mixins/list.scss';
@import '@/styles/mixins/media_mixin.scss';

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@include _1200 {
  .experience {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}

.experience_item {
  @include list-item;
}

.years {
  @include list-years;

  &.present {
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }
}

.responsibilities {
  @include list-ul;
}

.company {
  @include list-company;
}
