.experience {
  display: block;
  position: relative;
}

.experience_item {
  padding: 20px  0;
  position: relative;
}


.experience_item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.years {
  border: 1px solid grey;
  padding: 3px 5px;
  color: grey;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 12px;

  &.present {
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }
}

.responsibilities {
  list-style: square;
  padding-left: 20px;
  font-size: 12px;
  color: grey;
}

.company {
  display: inline-block;
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}
