.container{
    display: none;
    background: rgb(112, 112, 112);
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.3)";
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99
}

.bar{
    height: 2px;
    background: var(--main-color);
    transition: width .2s ease;
}


@media (max-width: 650px) {
    .container{
        display: block;
    }
  }