.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  font-size: 28px;
  position: relative;
  overflow: hidden;

  a {
    background: linear-gradient(60deg, #f79533, rgb(255, 217, 0));
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
    padding: 10px 20px;
    color: var(--second-color);
    border-radius: 5px;
  }
}

.title {
  display: flex;
  align-items: center;
  h2 {
    margin-right: 10px;
    color: var(--main-color);
  }
}

.subtitle{
  padding: 10px 0;
  font-size: 14px;
  color: grey;
  margin-bottom: 20px;
}

.emodji {
  position: relative;

  &_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .wrapper {
    font-size: 18px;

    a {
      padding: 5px 10px;
    }
  }

  .title {
    flex-direction: column;
    margin-bottom: 10px;
    h2 {
      color: var(--main-color);
      span{
        display: none;
      }
    }
  }

  .subtitle{
    padding: 0px 10px;
    text-align: center;
  }
  

  .emodji {
    display: none;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
