.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 1;
  background: rgba(255, 208, 0, 0.25);
  border: 1px solid transparent;
  -o-transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    height 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    background 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    margin 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    border-color 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    height 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    background 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    margin 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    border-color 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    height 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    background 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    margin 0.3s cubic-bezier(0.3, 0, 0.3, 1),
    border-color 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  z-index: 999;
  pointer-events: none;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  mix-blend-mode: lighten;

  &.zoom {
    margin-top: -25px;
    margin-left: -25px;
    width: 80px;
    height: 80px;
    background: rgba(120, 204, 109, 0);
    border: 1px solid rgb(255, 208, 0);
  }
}

@media (max-width: 990px) {
  .cursor {
    display: none;
  }
}
