@mixin list-years {
  border: 1px solid grey;
  padding: 3px 5px;
  color: grey;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 12px;
}

@mixin list-company {
  display: inline-block;
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}

@mixin list-ul {
  list-style: square;
  padding: 0 20px;
  font-size: 12px;
  color: grey;
}

@mixin list-item {
    padding: 20px 0;
    position: relative;
}

