.area {
  background: linear-gradient(#1b1b1b, transparent 1px),
    linear-gradient(90deg, #1b1b1b, transparent 1px);
  background-size: 20px 20px;
  background-position: center center;
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  // background-color: white;
  background-color: rgb(255, 208, 0);;
  box-shadow: rgb(255, 208, 0) 0px 0px 3px 1px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.light:nth-child(1) {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.light:nth-child(2) {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  left: 15%;
}

.light:nth-child(3) {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  left: -15%;
}

.light:nth-child(4) {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  left: -34%;
}

.light:nth-child(5) {
  -webkit-animation: floatUp 5s infinite linear;
  -moz-animation: floatUp 5s infinite linear;
  -o-animation: floatUp 5s infinite linear;
  animation: floatUp 5s infinite linear;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
  left: -57%;
}

.light:nth-child(6) {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  left: -81%;
}

.light:nth-child(7) {
  -webkit-animation: floatUp 2.3s infinite linear;
  -moz-animation: floatUp 2.3s infinite linear;
  -o-animation: floatUp 2.3s infinite linear;
  animation: floatUp 2.3s infinite linear;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  left: 37%;
}

.light:nth-child(8) {
  -webkit-animation: floatUp 3.7s infinite linear;
  -moz-animation: floatUp 3.7s infinite linear;
  -o-animation: floatUp 3.7s infinite linear;
  animation: floatUp 3.7s infinite linear;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  left: 62%;
}

.light:nth-child(9) {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  left: 85%;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 90vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
