.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  position: relative;

  img {
    position: relative;
    width: 100%;
    transition: opacity 0.3s ease;
    &:hover {
      cursor: zoom-in;
    }
  }
}

@media (max-width: 700px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}


